<form action="action_page.php" (ngSubmit)="onSubmit()" (change)="checkValidation()" (input)="checkValidation()">
    <div class="container">
        <h1>List your car on DeltaCar</h1>
        <p>Please fill in the details for your car.</p>
        <hr>

        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Selling a 1978 Honda..." name="title" id="title" required [(ngModel)]="car.title">

        <label for="description"><b>Description</b></label>
        <textarea type="text" placeholder="The car is in great condition..." name="description" id="description" required [(ngModel)]="car.description"></textarea>

        <div id="carInfo">
            <div class="fl">
                <label for="carMake"><b>Car Make</b></label>
                <input type="text" placeholder="Honda, Toyota, BMW..." name="carMake" id="carMake" required [(ngModel)]="car.carMake">
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="fl">
                <label for="carModel"><b>Car Model</b></label>
                <input type="text" placeholder="Prelude, Avensis, 320d..." name="carModel" id="carModel" required [(ngModel)]="car.carModel">
            </div>
        </div>

        <div id="carInfo">
            <div class="fl">
                <label for="transmissionType"><b>Transmission Type</b></label>
                <select type="text" placeholder="Enter transmission type" name="transmissionType" id="transmissionType" required [(ngModel)]="car.transmissionType">
                    <option value="" selected disabled hidden>Select</option>
                    <option value="Manual">Manual</option>
                    <option value="Automatic">Automatic</option>
                    <option value="Semi-Automatic">Semi-Automatic</option>
                    <option value="CVT">CVT</option>
                </select>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="fl">
                <label for="fuel"><b>Fuel Type</b></label>
                <select type="text" placeholder="Enter fuel type" name="fuel" id="fuel" required [(ngModel)]="car.fuelType">
                    <option value="" selected disabled hidden>Select</option>
                    <option value="Petrol">Petrol</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Methane">CNG</option>
                    <option value="LPG">LPG</option>
                </select>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="fl">
                <label for="engineDisplacement"><b>Engine displacement</b></label>
                <input type="text" placeholder="1.6, 3.0, 5.3..." name="engineDisplacement" id="engineDisplacement" required [(ngModel)]="car.engineDisplacement">
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="fl">
                <label for="color"><b>Color</b></label>
                <input type="text" placeholder="brown, red, gray" name="color" id="color" required [(ngModel)]="car.color">
            </div>
        </div>

        <div id="carInfo">
            <div class="fl">
                <label for="yearOfProduction"><b>Year of production</b></label>
                <input type="text" placeholder="2001..." name="yearOfProduction" id="yearOfProduction" required [(ngModel)]="car.yearOfProduction">
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="fl">
                <label for="mileage"><b>Mileage</b></label>
                <input type="text" placeholder="60340..." name="mileage" id="mileage" required [(ngModel)]="car.mileage">
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="fl">
                <label for="engineLayout"><b>Engine Layout</b></label>
                <input type="text" placeholder="I4, V6..." name="email" id="engineLayout" required [(ngModel)]="car.engineLayout">
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="fl">
                <label for="location"><b>Location</b></label>
                <input type="text" placeholder="Sofia, London, Paris..." name="email" id="location" required [(ngModel)]="car.location">
            </div>
        </div>

        <label for="options"><b>Options (separated by spaces and/or commas)</b></label>
        <input type="text" placeholder="ABS, Stereo, Sunroof... " name="password" id="password" autocomplete="on" required id="options">

        <label for="images"><b>Images's .jpg web address (DEV) (separated by spaces and/or commas)</b></label>
        <input id="images" type="text" placeholder="https://yourphotowebsite.com/car.jpg, https://yourphotowebsite.com/car.jpg2... " name="images" autocomplete="on" required>

        <label for="price"><b>Enter the car's price</b></label>
        <input type="text" placeholder="45000, 5600, 100200..." name="price" id="price" autocomplete="on" [(ngModel)]="car.price">
        <hr>

        <button type="submit" class="registerbtn">Publish your listing</button>
    </div>
</form>