<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" *ngIf="isAuthorized">DeltaCar - Sell & Buy Used Cars</a>
    <a class="navbar-brand" style="margin: 0 auto; font-size: xx-large;" routerLink="/home"
      *ngIf="!isAuthorized">DeltaCar - Sell & Buy Used Cars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="isAuthorized">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="border border-info rounded" aria-current="page"
            routerLink="/home">Hot Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="border border-info rounded" routerLink="/search">Search</a>
        </li>
      </ul>

      <div class="collapse navbar-collapse" id="right" *ngIf="isAuthorized">
        <button class="addListing" routerLinkActive="border border-info rounded" routerLink="/new-listing">Add a
          listing</button>
        <button class="logout" routerLinkActive="border border-info rounded" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>