<section>
    <div id="title">
        <h1 style="margin-top: 1rem;">The <b>#1</b> website for buying and selling cars.</h1>
    </div>
    <img src="https://images.emojiterra.com/mozilla/512px/1f697.png" id="logo">
    <div id="description">
        <p>Welcome to <b>DeltaCar</b>, the ultimate online destination for buying and selling cars. Our platform connects you
            with dealers and private sellers across the country, offering a seamless and hassle-free car buying and
            selling experience. Whether you're buying or selling, <b>DeltaCar</b>
            is the smart choice for all your car trading needs.</p>
    </div>
    <div id="actions">
        <button routerLinkActive="border border-info rounded" routerLink="/register">Sign up now!</button>
        <br>
    </div>
    <p id="signin">Already have an account? <a routerLinkActive="border border-info rounded" routerLink="/login">Sign in</a>.</p>
    <br>
    <br>
    <br>
</section>