
.headBox {
  width: 100%;
  height: 10rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;

  h2 {
    font-weight: normal;
  }
}

.post {
  cursor: pointer;
  width: 70%;
  margin: auto;
  background-color: white;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.2rem solid #ff7b00;
  margin-bottom: 2rem;
  display: flex;

  .image {
    float: left;
    width: 25%;

    img {
      margin: 3rem;
      width: 90%;
      height: 90%;
      border: 0.2rem solid black;
      border-radius: 0.6rem;  
    }
  }

  .info {
    margin: 0 auto;
    width: 25%;
    margin-left: 3rem;
    padding: 2rem;

    h2 {
      font-weight: 100;
    }

    h4 {
      font-weight: 400;
    }
  }

  .description {
    margin: 0 auto;
    width: 25%;
    text-align: justify;

    p {
      font-style: italic;;
      max-width: 90%;
      margin-left: 2rem;
    }
  }

  .price {
    margin-right: 5rem;
    float: right;
    width: 15%;
    text-align: right;
  }
}
