<section class="headBox">
    <h2>Today's hot offers!</h2>
</section>

<section *ngFor="let car of cars">
    <div class="post" routerLinkActive="border border-info rounded" routerLink="/posts/{{car.id}}">
        <div class="image">
            <img [src]="car.coverImageURL">
            <h1>${{numberWithCommas(car.price, ",")}}</h1>
        </div>
        <div class="info">
            <h1>{{car.title}}</h1>
            <h2>{{car.carMake}} {{car.carModel}}</h2>
            <br>
            <h4>Mileage: {{numberWithCommas(car.mileage, " ")}}</h4>
            <h4>Fuel: {{car.fuelType}}</h4>
        </div>
        <br>
        <div class="description">
            <h4>Description:</h4>
            <p>"{{car.description}}"</p>
        </div>
    </div>
</section>