<section class="mainSection">
    <div class="detailsContainer">
        <div id="leftDiv">
            <div id="coverImage">
                <img [src]="currentCar.coverImageURL" id="main">
            </div>
            <div id="otherImages">
                <img [src]="image.url" class="other" *ngFor="let image of currentCarImages" id="{{image.id}}"
                    (click)="changePictures(image.id)">
            </div>
        </div>
        <div id="centerDiv">
            <div id="mainInfo">
                <h1 id="title">"{{currentCar.title}}"</h1>
                <h2 id="model">{{currentCar.yearOfProduction}} {{currentCar.carMake}} {{currentCar.carModel}}</h2>

                <p>"{{currentCar.description}}"</p>

                <h2>Odometer: <b>{{numberWithCommas(currentCar.mileage, " ")}} kilometers</b></h2>
                <h2>Transmission: <b>{{currentCar.transmissionType}}</b></h2>
                <h2>Fuel type: <b>{{currentCar.fuelType}}</b></h2>
                <h2>Engine: <b>{{currentCar.engineDisplacement}}L {{currentCar.engineLayout}}</b></h2>
            </div>
        </div>
        <div id="rightDiv">
            <h3>Available options</h3>
            <div id="options">
                <div *ngFor="let option of currentCarOptions" id="optionsContainer">
                    <div id="currentOption">{{option.name}}</div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <p style="font-size: 2rem;">Price: <b>${{numberWithCommas(currentCar.price, ",")}}</b></p>
            <button id="buyNowButton">Buy now</button>
        </div>
    </div>
</section>