<section class="searchBox">
  <form (ngSubmit)="onSubmit()">
    <label for="search" id="searchLabel">Search</label>
    <input type="text" id="searchBox" name="search" [(ngModel)]="searchTerms">

    <a id="searchByLabel">Search by:</a>

    <select #options id="seacrhDropdownBox" (change)="onSelect(options.value)">
      <option>Title</option>
      <option>Description</option>
      <option>Car Make</option>
      <option>Car Model</option>
      <option>Engine Displacement</option>
      <option>Transmission Type</option>
      <option></option>
    </select>

    <a id="year">Year:</a>

    <input type="text" placeholder="From..." class="inputYear" name="startYear" [(ngModel)]="startYear" [width]="23">
    <input type="text" placeholder="To..." class="inputYear" name="endYear" [(ngModel)]="endYear">

    <br>
    <a id="searchByLabel">Fuel Type (leave blank for Electric)</a>

    <select #options id="seacrhDropdownBox" (change)="onSelect(options.value)">
      <option default></option>
      <option>Gasoline</option>
      <option>Diesel</option>
      <option>LPG</option>
      <option>Methane</option>
      <option>Electric</option>
    </select>

    <button type="submit" class="searchbtn">Search</button>
  </form>
</section>