.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

h1 {
  font-size: 80px;
  margin: 0;
}

h2 {
  font-size: 36px;
  margin-top: 10px;
}

p {
  font-size: 18px;
  margin-top: 20px;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff7b00;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

a:hover {
  background-color: #cc6a0f;
}
